body {
  background-color: #AADBB9;
}

h1 {
  text-align: center;
  font-family: 'Recursive', sans-serif;
}

#leftProduct, #middleProduct, #rightProduct {
  display: inline-block;
  margin-left: 4%;
  text-align: center;

}

#refresh {
  background: none;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 0px;
  cursor: pointer;
}

h3 {
  margin-top: 0px;
}

