body {
  background-color: #AADBB9;
}

h1 {
  text-align: center;
  font-family: 'Recursive', sans-serif;
}

#leftProduct, #middleProduct, #rightProduct {
  display: inline-block;
  margin-left: 6%;
}

#button {
 
}
#chart {

}


h3 {
  margin-top: 0px;
}